@import "../../assets/scss/variables";

.success-btn {
  background: $success !important;
  border-radius: 4px;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  height: 44px;
  margin: 0;
  padding: 0 38px;
}

.footer-btn {
  padding: 0 57px;
}

.blank-btn {
  background: transparent !important;
  color: $success;
  margin: auto;
  border: 2px solid $success;
}

.secondary-btn {
  font-weight: 600;
  font-size: 14px !important;
  line-height: 8px;
  color: #ffffff;
  height: 24px;
  background: $secondary;
  border-radius: 4px;
  padding-left: $gap !important;
  padding-right: $gap !important;
  margin: 0;
  text-transform: none;
}
